.total{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 1rem;
    border: 3px solid palevioletred;
    margin-bottom: 0px;
    text-align: center;
    max-width: 200px;
    margin-left: 40rem;
}
.total:hover{
    border-color: cornflowerblue;
}

@media screen and (max-width: 620px){
    .total{
        margin: auto;
        margin-bottom: 1rem;
    }
    
}