
.home{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 0.5rem;
}
.home p{
text-align:center;
font-style: italic;
color:black;
background-color: transparent;
margin-right: 20px;
border: 2px solid black;
border-radius: 8px;
width: 55%;
height: max-content;
}

.action button{
    cursor:pointer;
    margin: 1rem;
    margin-left: 1rem;
    color: black;
    background-color: transparent;
    padding: 1rem;
    border: 3px solid deepskyblue;
    border-radius: 15px;
    font-weight: bold;
}
.action button:hover{
    background-color:skyblue
}

@media screen and (max-width:620px){
    .action button{
        width: 70%;
    }
    .home p{
        height: 12vh;
        margin: 2rem auto;
    }
}