
.home {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.home p{
text-align:right;
font-style: italic;
color:black;
background-color: transparent;
margin-right: 20px;
border: 2px solid black;
border-radius: 8px;
width: max-content;

}