
.home{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 0.5rem;
}
.home p{
text-align:center;
font-style: italic;
color:black;
background-color: transparent;
margin-right: 20px;
border: 2px solid black;
border-radius: 8px;
width: 50%;
}

.action button{
    cursor:pointer;
    margin: 1rem auto;
    color: black;
    background-color: transparent;
    padding: 1.2rem;
    border: 3px solid teal;
    border-radius: 20px;
    font-weight: bold;
}

.logout button{
    cursor:pointer;
    margin: 1rem;
    color: black;
    background-color:transparent;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bold;
}
.logout button:hover{
    background-color: palevioletred;
    border: 2px solid deeppink;
}
.action button:hover{
    background-color: cadetblue;
}

@media screen and(max-width:740px) {
    
}