.auth h1{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.auth {
    margin: 4rem auto;
    width:90%;
    max-width: 25rem;
    border-radius: 6px;
    background-color:aliceblue;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
  }

  .control {
    margin-bottom: 0.5rem;
  }

  .control label {
    display: block;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;

  }

  .control input {
    font: inherit;
    background-color: rgb(224, 235, 235);
    color: rgb(92, 95, 95);;
    border-radius: 4px;
    border: 1px solid white;
    width: 95%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: teal;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }

  .actions button:hover {
    background-color: rgb(2, 43, 43);
    border-color: rgb(2, 43, 43);
  }

  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: teal;
    border: none;
    padding: 0.15rem 1.5rem;
  }

  .actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
  }
  .forgot{
    text-decoration:underline;
  }

  @media screen and (max-width:740px){
    .auth{
      margin: 2rem auto;
      padding: 0.5rem;
    }
  }