.control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid purple;
    width: 20rem;
    max-width: 100%;

  }
  .control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid purple;
    width: 20rem;
    max-width: 100%;

  }
  .expense {
    background-color:lightgrey;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    border-radius: 12px;
    text-align: center;
  }
  .actions {
    text-align: center;
    margin: 1rem;
    width: max-content;
  }

  @media screen and (max-width:740px){
    .expense{
      padding: 1rem;
      margin:  auto;
      margin-top: 1rem;
      width:80%
    }
    .control input{
      width: 80%
    }
    .control select{
      width: 87%
    }
  }